# ignore
.DS_Store
*.pyc
*.bak
.idea
.project
.pydevproject
#fixtures
temp/
changelog.txt
website/project/local_settings.py
website/smedia
website/logs
website/media
website/components
website/static
website/site-static/.sass-cache
website/reports
website/device_data
website/static/CACHE
website/data.sqlite3
