{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}
<style></style>
{% endblock css %}

{% block js %}
{{block.super}}
<script src="{{ STATIC_URL }}js/stats.js"></script>
<script>

    var stats = new ProxyStatsApp();
    stats.apiUrl = '{% url "dgsproxy-stats" %}';
    stats.container = $('#stats_container');
    stats.init();

</script>
{% endblock js %}

{% block page_title %}Discogs OAuth & caching proxy{% endblock %}
{% block page_class %}home{% endblock %}
{% block content %}
<article>
    (( TODO ))
</article>

<aside>
    <h3>Statistics</h3>
    <dl id="stats_container">

        <dt>Hits proxied</dt>
        <dd><span id="stats_hits_proxied">-</span></dd>

        <dt>Hits cached</dt>
        <dd><span id="stats_hits_cached">-</span></dd>

        <dt>Number of cached resources</dt>
        <dd><span id="stats_num_resources">-</span></dd>

        <dt>Cache total size</dt>
        <dd><span id="stats_cache_size">-</span> MB</dd>

        <dt>API rate limit</dt>
        <dd><span id="stats_rate_limit">-</span></dd>

        <dt>API remaining rate limit</dt>
        <dd><span id="stats_rate_limit_remain">-</span></dd>

    </dl>
</aside>
{% endblock %}
